.sliders{
   background-color: #9a9a9a;
   overflow: hidden;
   height: 70vh;
   padding: 30px 20px;
}

.sliders img{
   object-fit: cover;
}



.course_section{
    padding: 38px 0;
    background-color: var(--color-green);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text_lefts{
    padding-left: 80px;
}

.text_lefts h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
     margin: 20px 0;
     
}

.text_lefts p{
    color: #D7E4C0;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    line-height: 30px;
}


/* small screen */

@media(max-width:567px){
    .course_section{
        padding: 10px 0;
       
    }
    
.text_lefts{
    padding: 0 30px;
}
.text_lefts h1{
 
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
   
}
    .text_lefts p{
        
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        line-height: 25px;
    }
}


/* swipper card css */
.swipper_card{}
.swipper_card .icon{
   background-color: var(--yellow);
   display: inline-block;
   padding: 10px;
   font-size: 25px;
   margin: 20px 0;
   border-radius: 30%;
   /* border-radius: 0 60px 60px 0 / 0 30px 30px 0; */
   /* border-top-left-radius: 50%;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px; */
   
}
.swipper_card .icon a{
    color: black;
}

.swipper_card
 h2{
    color: white;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    /* text-shadow: 2px  2px white */
    /* text-shadow: -2px 2px 1px yellowgreen; */
    text-shadow: 5px 5px 5px red;
 }




 /* audience_section start */
 .audience_section{
    padding: 150px 0;

    
 }

 .aud_left_{
   
 }
 .aud_left_first{
    position: relative;
    
 }
 .aud_left_second{
    position: absolute;
    bottom: 20%;
    left: 50%;
    
    
 }

 /* right text section */
 .right_section{
    padding-top: 50px;
 }

 .right_section button{
    border: none;
    outline: none;
    padding: 6px 24px;
    background-color: var(--yellow);
    border-radius: 75px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    margin-bottom: 20px;
 }

 .right_section h1{
    color: black;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
 }

 .right_section p{
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 50px;
 }


  .btn-inimation{
    padding: 17px 36px;
    border: none;
    background-color: var(--color-green);
    color: white;
    border-radius: 75px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    margin-right: 20px;
    
 }
 .btn-inimation:hover{
    color: black;
    background-color: var(--yellow);
    transform: scale(1.1);
 } 

 .sing-btn button{
    border: none;
    outline: none;
    padding: 6px 24px;
    background-color: var(--yellow);
    border-radius: 75px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    margin-bottom: 20px;

 }
.project_btn{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.project_btn h3{
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
}

.project_btn button{
    border: none;
    outline: none;
    padding: 14px 38px;
    background-color: var(--color-green);
    border-radius: 75px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    

}

.project_btn button:hover{
    background-color: var(--yellow);
    color: black;
    transform: translateY(5px);
    
}


/* last sect
 */

 .get_business{
    background-color: var(--color-green);
    color: white;
    padding: 120px 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }

 .get_business .texts h1{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
 }

 .get_business .texts button{
    border: none;
    outline: none;
    padding: 12px 28px;
    background-color: var(--yellow);
    border-radius: 75px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
 }

 .get_business .texts button:hover{
    background-color: var(--color-green);
    color:white;
    border:1px solid white;
 }

 /* audience_section exit */




/* for small screen */
@media(max-width:567px){
   .right_section p{
     text-align: justify !important;
      
   }
   .btn-inimation{
      padding: 9px 20px !important;
      border: none;
      /* background-color: var(--color-green); */
      color: white;
      border-radius: 75px;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      margin-right: 0px !important;
      
   }

 
    .home_banner .text_section h1{
        font-size: 30px;
        font-weight: 800;
        line-height: 50px;
        margin: 0;
    }
    .home_banner .text_section button{
        border: none;
        background-color: var(--yellow);
        padding: 3px 22px;
        border-radius: 70px;
        font-size: 13px;
        margin-bottom: 20px;
       
     }

     .get_business{
        background-color: var(--color-green);
        color: white;
        padding: 60px 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
     }
     .get_business .texts h1{
        /* text-align: center; */
        font-size: 30px;
        font-weight: 500;
     }

      .get_business .texts{
        text-align: center;
      }
     .get_business .texts button{

        padding: 8px 24px;
        font-size: 16px;
        font-weight: 500;
        margin: 20px 0;
        margin-bottom: 20px;
        transition: all 0.3s ease-in-out;
        
     }
}


@media(max-width:767px){
    .get_business .texts h1{
        /* text-align: center; */
        font-size: 30px;
        font-weight: 600;
     }
     .get_business{
      
        color: white;
        padding: 70px 0;
     
     }
}






/* media query for small screen in pic and right text section
 */

 @media(max-width:567px){
    .right_section h1{
      
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
     }

     .btn-inimation{
        padding: 12px 30px;
        border: none;
        background-color: var(--color-green);
        color: white;
        border-radius: 75px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        margin-right: 10px;
        
     }
     #icon{
      font-size: 20px !important;
     }
     .right_section span{
      font-size: 16px;
     }
    
     .project_btn{
        display: block;
        /* justify-content: space-between; */
        padding: 20px 20px;
        margin: 20px 0;
    }
    .project_btn h3{
        font-size: 30px;
    
     
    }
     .project_btn button{
      text-align: center;
        padding: 10px 28px;
        background-color: var(--color-green);
        border-radius: 75px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.5s ease-in-out; 
        
    
    }
 }

 #icon{
    color: var(--color-green);
    font-size: 35px;
    padding: 0 10px;
}

span{
    color: var(--color-green);
    font-size: 20px;
    font-weight: 600;
}

/* media query for middle screeen */
@media(max-width:767px){
    .project_btn button{
       
          padding: 10px 28px;
          background-color: var(--color-green);
          border-radius: 75px;
          color: white;
          font-size: 16px;
          font-weight: 500;
          transition: all 0.5s ease-in-out; 
          
      
      }
      
      .get_business .texts{
        text-align: center;
      }
}

/* 
.swipper-card{
   background-color: #9a9a9a;
   padding: 100px;
   
} */




/* portfoliod csss */
.portfolio_wrapper{
   background-color:var(--color-green);
}
.portfolio_wrapper h4{
   padding: 20px 0;
   font-weight: 900;
}

.portfolio_wrapper h2{
   font-weight: 700;
}
.portfolio_wrapper .card{
   height: 100%;
   min-height: 350px;
   box-shadow: 0px 0px 16px 4px #9a9a9a;
   overflow: hidden;
   cursor: pointer;
   border: 1px solid white;

}

.portfolio_wrapper .card img{
   transition:background-position 4s ease-in-out 0s;
   width: 100%;
   height: 100%;
   background-position: top center;
   background-size: cover;
}
.portfolio_wrapper .card:hover img{
   background-position: bottom center;
   
}